/*
font-family: 'Roboto', sans-serif;

font-family: 'Roboto Mono', monospace;

font-family: 'Roboto Slab', serif;
*/

body {
    background-color: rgb(0, 0, 0);
}

header {
    width: 100%;
    position: fixed;
    padding: 30px;
    z-index: 100;
}

header nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.hero img {
    width: 100%;
}

.hero {
    position: relative;
}

header nav ul li {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 24px;
    color: antiquewhite;
}

@media screen and (max-width: 960px) {
    header nav ul li {
        font-size: 18px;
    } 
}

header nav ul li img {
    margin-top: -20px;
}

.welcome {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    position: absolute;
    top: 400px;
    left: 20px;
    font-size: 36px;
    color: #e2eeea;
}

@media screen and  (max-width: 960px) {
    .welcome {
        top: 250px;
        font-size: 26px;
    }
}

main {
    font-family: 'Roboto', sans-serif;
}

.flex-wrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px auto;
    background-color: transparent;
    min-height: 200px;
    z-index: 10;
    transform: translateY(-200px);
    display: flex;
    flex-flow: row wrap;
}

.hidemobile {
    display: block;
}

@media screen and (max-width: 960px) {
    .flex-wrapper {
        transform: unset;
    }

    .hidemobile {
        display: none;
    }
}

.card {
    background-color: #262729;
    flex-basis: 300px;
    border-radius: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.cardActive {
    background-color: #ddd8d8;
    flex-basis: 300px;
    border-radius: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 1300px) {
    .flex-wrapper {
        transform: translateY(-140px);

    }
}

@media screen and (max-width: 960px) {

    .flex-wrapper {
        transform: translateY(-80px);

    }

    .card {
        flex-basis: 50%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 10px;

    }

    .cardActive {
        flex-basis: 50%;
        margin-right: 20%;
        margin-left: 20%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 560px) {

    .flex-wrapper {
        transform: translateY(0px);

    }
    .card {
        flex-basis: 100%;
        margin: 20px;
    }

    .cardActive {
        flex-basis: 100%;
        margin: 20px;
    }
}



.cardimg {
    max-width: 100%;
}

.cardActiveimg {
    max-width: 100%;
 }

.cardContent {
    padding: 20px;
}

.profileNameText {
    color: #939597;
    margin-top: 10px;
}

.profileRoleText {
    color: #6e6e6e;
    margin-top: 10px;
}

.cardCategoryText {
    color: #96835F;
}

.cardDateText {
    color: #5C6564;
    float: right;
}

.cardTitleText {
    color: #dddddd;
    margin-top: 10px;
}

.cardBodyText {
    color: #909090;
    margin-top: 10px;
}

.cardActiveCategoryText {
    color: #668BCD;
}

.cardActiveTitleText {
    color: #404040;
    margin-top: 10px;
}

.cardActiveBodyText {
    color: #505050;
    margin-top: 10px;
}

.cardActiveTimer {
    color: #8a8a8a;
    float: rig;
}

.footerspace {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #dddddd;
    -ms-flex-align: center;
}

/*pandawoman*/
